
html {
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

body {  
  background-image: url("./bg.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 1%;
}

footer {
	width: 100%;
	height: 7%;
	background-color: black;
}

#contents {
	display: inline-block;
	width: 100%;
	height: 100%;
}
.side-padding {
	height: 100%;
	width: 20%;
	margin: 0;
}

#cusc-logo {
	background-image: url("./cusc-logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 100%;
}

#links {
	width: 100%;
	height: 40%;
	text-align: center;
}

#links div {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	
	height: 100%;
	width: 10%;
}
#facebook {
	background-image: url("./facebook-black.png");
}
#discord {
	background-image: url("./discord-black.png");
}
#email {
	background-image: url("./email.png");
}



